@import 'reset'

@import 'var'

@import 'mixins'

@import 'fonts'

html, body
    width 100%

html
    overflow-x auto

body
    font-family: $main-font
    color $text-color
    line-height 1.2
    background-color $bg

@import 'ui'
