font-face('Basis Grotesque Pro', 'BasisGrotesquePro/BasisGrotesquePro-Regular', 400)
font-face('Basis Grotesque Pro', 'BasisGrotesquePro/BasisGrotesquePro-Medium', 500)
font-face('Basis Grotesque Pro', 'BasisGrotesquePro/BasisGrotesquePro-Bold', 700)
