font-face(fontFamily, fileName, fontWeight = normal, fontStyle = normal, path = '~@/assets/fonts/', svgLabel='')
    @font-face
        font-family fontFamily
        font-weight fontWeight
        font-style fontStyle
        src url(path + fileName + ".ttf") format("truetype")
