html
    --primary #174765
    --secondary #28709E
    --tertiary #B0C6D5
    --error #CF6578
    --gray #7C858A
    --gray2 #CCCED0
    --black #121212
    --bg rgb(244, 245, 245)

    --text-color var(--black)
    --text-color-secondary var(--black)
html.dark
    --primary #2170A3
    --secondary #5F8FAE
    --tertiary #B0C6D5
    --primary-bg #121212
    --secondary-bg #2D2F34
    --tertiary-bg #383B40
    --text-color #F4F4F4
    --text-color-secondary #9DA2A4

$bg = var(--bg)
$black = var(--black)
$primary = var(--primary)
$secondary = var(--secondary)
$tertiary = var(--tertiary)
$error = var(--error)
$gray = var(--gray)
$gray2 = var(--gray2)
$primary-bg = var(--primary-bg)
$secondary-bg = var(--secondary-bg)
$tertiary-bg = var(--tertiary-bg)

$text-color = var(--text-color)
$text-color-secondary = var(--text-color-secondary)

$main-font = 'Basis Grotesque Pro', sans-serif

$desktop-width = 1200px
$tablet-width = 728px
$phone-width = 350px


$small-shadow()
    box-shadow 0 1px 4px rgba(#000, .1)


$tablet()
    @media (max-width: 1280px)
        {block}
$phone()
    @media (max-width: 768px)
        {block}
$phone-small()
    @media (max-width: 350px)
        {block}

$h1()
    font-size 48px
    line-height 62px
    letter-spacing 0.01em
    font-weight 400
$h2()
    font-size 28px
    line-height 34px
    font-weight 500
    +$tablet()
        font-size 20px
        line-height 24px
        letter-spacing: 0.02em
$h3()
    font-size 22px
    line-height 26px
    +$tablet()
        font-size 18px
        line-height 22px
$h4()
    font-size 18px
    line-height 22px
$text()
    font-size 16px
    line-height 20px
$text-small()
    font-size 14px
    line-height 18px


$btn(type = 'default', active = false)
    user-select none
    cursor pointer
    font-size 16px
    padding 8px 18px
    border-radius 8px
    transition all .2s
    display flex
    align-items center
    justify-content center
    border 1px solid transparent
    width auto
    position relative
    background-color #fff
    color $black

    +$phone()
        font-size 14px

    &:hover
        transform scale(1.05)
    &:active
        transform scale(0.95)

    btn-primary()
        background-color $primary
        border-color $primary
        color #fff
        &:hover
            background-color $secondary
            border-color $secondary

    btn-secondary()
        background-color $secondary
        border-color $secondary
        color #fff
        &:hover
            background-color $primary
            border-color $primary
    btn-border()
        border-color #91A3B0
        // &.active
        //     border-color #91A3B0
        // if active is false
        //     border-color #91A3B0

    &.primary
        btn-primary()
    if type is 'primary'
        btn-primary()

    &.secondary
        btn-secondary()
    if type is 'secondary'
        btn-secondary()

    &.border
        btn-border()
    if type is 'border'
        btn-border()
    
    span + .icon
        margin-left 15px
        +$phone()
            margin-left 10px
    .icon + span
        margin-left 15px
        +$phone()
            margin-left 10px

    &::after, &::before
        content: ''
        transition opacity .2s
        opacity 0
        position absolute
        z-index 1
    &::before
        width calc(100% + 4px)
        height calc(100% + 4px)
        left -2px
        top -2px
        border-radius inherit
        background-color rgba(#fff, .9)
    &::after
        z-index 2
    &.loading, &.loading-success, &.loading-error
        cursor default
        &:hover
            transform none
        &::before
            opacity 1
        &::after
            opacity 1
    &.loading
        &::after
            width 30px
            height 30px
            border-radius 100%
            border 3px solid $gray
            border-bottom-color transparent
            animation spin .6s linear infinite
        @keyframes spin 
            0%
                transform rotate(0)
            100%
                transform rotate(360deg)
    &.loading-success, &.loading-error
        &::after
            background-size auto 80%
            background-position center
            background-repeat no-repeat
            width 100%
            height 100%
            animation showStatus .7s
            @keyframes showStatus
                0%
                    transform scale(0)
                60%
                    transform scale(1.2)
                100%
                    transform scale(1)

    &.loading-success
        &::after
            background-image url('~@/assets/images/ui/check-green.svg')
    &.loading-error
        &::after
            background-image url('~@/assets/images/ui/close-red.svg')
